html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background: #fff;
  font: 14px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 46px;
  line-height: 50px;
  margin-bottom: 14px; }

h2 {
  font-size: 35px;
  line-height: 40px;
  margin-bottom: 10px; }

h3 {
  font-size: 28px;
  line-height: 34px;
  margin-bottom: 8px; }

h4 {
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 4px; }

h5 {
  font-size: 17px;
  line-height: 24px; }

h6 {
  font-size: 14px;
  line-height: 21px; }

.subheader {
  color: #777; }

p {
  margin: 0 0 20px 0; }

p img {
  margin: 0; }

p.lead {
  font-size: 21px;
  line-height: 27px;
  color: #777; }

em {
  font-style: italic; }

strong {
  font-weight: bold;
  color: #333; }

small {
  font-size: 80%; }

blockquote, blockquote p {
  font-size: 17px;
  line-height: 24px;
  color: #777;
  font-style: italic; }

blockquote {
  margin: 0 0 20px;
  padding: 9px 20px 0 19px;
  border-left: 1px solid #ddd; }

blockquote cite {
  display: block;
  font-size: 12px;
  color: #555; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited {
  color: #555; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a, a:visited {
  color: #333;
  text-decoration: underline;
  outline: 0; }

a:hover, a:focus {
  color: #000; }

p a, p a:visited {
  line-height: inherit; }

ul, ol {
  margin-bottom: 20px; }

ul {
  list-style: none outside; }

ol {
  list-style: decimal; }

ol, ul.square, ul.circle, ul.disc {
  margin-left: 30px; }

ul.square {
  list-style: square outside; }

ul.circle {
  list-style: circle outside; }

ul.disc {
  list-style: disc outside; }

ul ul, ul ol, ol ol, ol ul {
  margin: 4px 0 5px 30px;
  font-size: 90%; }

ul ul li, ul ol li, ol ol li, ol ul li {
  margin-bottom: 6px; }

li {
  line-height: 18px;
  margin-bottom: 12px; }

li p {
  line-height: 21px; }

ul.large li {
  line-height: 21px; }

img.scale-with-grid {
  max-width: 100%;
  height: auto; }

.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background: #eee;
  background: #eee -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eee -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background: #eee -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eee -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eee -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  background: #eee linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  border: 1px solid #aaa;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  color: #444;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: normal;
  padding: 8px 10px;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  color: #222;
  background: #ddd;
  background: #ddd -moz-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #ddd -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background: #ddd -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #ddd -o-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #ddd -ms-linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background: #ddd linear-gradient(top, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  border: 1px solid #888;
  border-top: 1px solid #aaa;
  border-left: 1px solid #aaa; }

.button:active, button:active, input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
  border: 1px solid #666;
  background: #ccc;
  background: #ccc -moz-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #ccc -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(100%, rgba(10, 10, 10, 0.4)));
  background: #ccc -webkit-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #ccc -o-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #ccc -ms-linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%);
  background: #ccc linear-gradient(top, rgba(255, 255, 255, 0.35) 0%, rgba(10, 10, 10, 0.4) 100%); }

.button.full-width, button.full-width, input[type="submit"].full-width, input[type="reset"].full-width, input[type="button"].full-width {
  width: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  text-align: center; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

form {
  margin-bottom: 20px; }

fieldset {
  margin-bottom: 20px; }

input[type="text"], input[type="password"], input[type="email"], textarea, select {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 6px 4px;
  outline: none;
  font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
  margin: 0;
  width: 210px;
  max-width: 100%;
  display: block;
  margin-bottom: 20px;
  background: #fff; }

select {
  padding: 0; }

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, textarea:focus {
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  border: 1px solid #aaa;
  color: #444; }

textarea {
  min-height: 60px; }

label, legend {
  display: block;
  font-weight: bold;
  font-size: 13px; }

select {
  width: 220px; }

input[type="checkbox"] {
  display: inline; }

label span, legend span {
  font-weight: normal;
  font-size: 13px;
  color: #444; }

.remove-bottom {
  margin-bottom: 0 !important; }

.half-bottom {
  margin-bottom: 10px !important; }

.add-bottom {
  margin-bottom: 20px !important; }

.container {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 0; }

.container .column, .container .columns {
  float: left;
  display: inline;
  margin-left: 10px;
  margin-right: 10px; }

.container .row {
  margin-bottom: 20px; }

.container .one.column {
  width: 40px; }

.container .one.columns {
  width: 40px; }

.container .two.columns {
  width: 100px; }

.container .three.columns {
  width: 160px; }

.container .four.columns {
  width: 220px; }

.container .five.columns {
  width: 280px; }

.container .six.columns {
  width: 340px; }

.container .seven.columns {
  width: 400px; }

.container .eight.columns {
  width: 460px; }

.container .nine.columns {
  width: 520px; }

.container .ten.columns {
  width: 580px; }

.container .eleven.columns {
  width: 640px; }

.container .twelve.columns {
  width: 700px; }

.container .thirteen.columns {
  width: 760px; }

.container .fourteen.columns {
  width: 820px; }

.container .fifteen.columns {
  width: 880px; }

.container .sixteen.columns {
  width: 940px; }

.container .one-third.column {
  width: 300px; }

.container .two-thirds.column {
  width: 620px; }

.container .offset-by-one {
  padding-left: 60px; }

.container .offset-by-two {
  padding-left: 120px; }

.container .offset-by-three {
  padding-left: 180px; }

.container .offset-by-four {
  padding-left: 240px; }

.container .offset-by-five {
  padding-left: 300px; }

.container .offset-by-six {
  padding-left: 360px; }

.container .offset-by-seven {
  padding-left: 420px; }

.container .offset-by-eight {
  padding-left: 480px; }

.container .offset-by-nine {
  padding-left: 540px; }

.container .offset-by-ten {
  padding-left: 600px; }

.container .offset-by-eleven {
  padding-left: 660px; }

.container .offset-by-twelve {
  padding-left: 720px; }

.container .offset-by-thirteen {
  padding-left: 780px; }

.container .offset-by-fourteen {
  padding-left: 840px; }

.container .offset-by-fifteen {
  padding-left: 900px; }

.column.alpha, .columns.alpha {
  margin-left: 0; }

.column.omega, .columns.omega {
  margin-right: 0; }

@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 768px; }
  .container .column, .container .columns {
    margin-left: 10px;
    margin-right: 10px; }
  .container .one.column {
    width: 28px; }
  .container .one.columns {
    width: 28px; }
  .container .two.columns {
    width: 76px; }
  .container .three.columns {
    width: 124px; }
  .container .four.columns {
    width: 172px; }
  .container .five.columns {
    width: 220px; }
  .container .six.columns {
    width: 268px; }
  .container .seven.columns {
    width: 316px; }
  .container .eight.columns {
    width: 364px; }
  .container .nine.columns {
    width: 412px; }
  .container .ten.columns {
    width: 460px; }
  .container .eleven.columns {
    width: 508px; }
  .container .twelve.columns {
    width: 556px; }
  .container .thirteen.columns {
    width: 604px; }
  .container .fourteen.columns {
    width: 652px; }
  .container .fifteen.columns {
    width: 700px; }
  .container .sixteen.columns {
    width: 748px; }
  .container .offset-by-one {
    padding-left: 48px; }
  .container .offset-by-two {
    padding-left: 96px; }
  .container .offset-by-three {
    padding-left: 144px; }
  .container .offset-by-four {
    padding-left: 192px; }
  .container .offset-by-five {
    padding-left: 240px; }
  .container .offset-by-six {
    padding-left: 288px; }
  .container .offset-by-seven {
    padding-left: 336px; }
  .container .offset-by-eight {
    padding-left: 384px; }
  .container .offset-by-nine {
    padding-left: 432px; }
  .container .offset-by-ten {
    padding-left: 480px; }
  .container .offset-by-eleven {
    padding-left: 528px; }
  .container .offset-by-twelve {
    padding-left: 576px; }
  .container .offset-by-thirteen {
    padding-left: 624px; }
  .container .offset-by-fourteen {
    padding-left: 672px; }
  .container .offset-by-fifteen {
    padding-left: 720px; }
  .column.alpha, .columns.alpha {
    margin-left: 0;
    margin-right: 10px; }
  .column.omega, .columns.omega {
    margin-right: 0;
    margin-left: 10px; }
  .alpha.omega {
    margin-left: 0;
    margin-right: 0; } }

@media only screen and (max-width: 767px) {
  .container {
    width: 300px; }
  .container .columns, .container .column {
    margin: 0; }
  .container .one.column {
    width: 300px; }
  .container .one.columns {
    width: 300px; }
  .container .two.columns {
    width: 300px; }
  .container .three.columns {
    width: 300px; }
  .container .four.columns {
    width: 300px; }
  .container .five.columns {
    width: 300px; }
  .container .six.columns {
    width: 300px; }
  .container .seven.columns {
    width: 300px; }
  .container .eight.columns {
    width: 300px; }
  .container .nine.columns {
    width: 300px; }
  .container .ten.columns {
    width: 300px; }
  .container .eleven.columns {
    width: 300px; }
  .container .twelve.columns {
    width: 300px; }
  .container .thirteen.columns {
    width: 300px; }
  .container .fourteen.columns {
    width: 300px; }
  .container .fifteen.columns {
    width: 300px; }
  .container .sixteen.columns {
    width: 300px; }
  .container .one-third.column, .container .two-thirds.column {
    width: 300px; }
  .container .offset-by-one {
    padding-left: 0px; }
  .container .offset-by-two {
    padding-left: 0px; }
  .container .offset-by-three {
    padding-left: 0px; }
  .container .offset-by-four {
    padding-left: 0px; }
  .container .offset-by-five {
    padding-left: 0px; }
  .container .offset-by-six {
    padding-left: 0px; }
  .container .offset-by-seven {
    padding-left: 0px; }
  .container .offset-by-eight {
    padding-left: 0px; }
  .container .offset-by-nine {
    padding-left: 0px; }
  .container .offset-by-ten {
    padding-left: 0px; }
  .container .offset-by-eleven {
    padding-left: 0px; }
  .container .offset-by-twelve {
    padding-left: 0px; }
  .container .offset-by-thirteen {
    padding-left: 0px; }
  .container .offset-by-fourteen {
    padding-left: 0px; }
  .container .offset-by-fifteen {
    padding-left: 0px; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 420px; }
  .container .columns, .container .column {
    margin: 0; }
  .container .one.column {
    width: 420px; }
  .container .one.columns {
    width: 420px; }
  .container .two.columns {
    width: 420px; }
  .container .three.columns {
    width: 420px; }
  .container .four.columns {
    width: 420px; }
  .container .five.columns {
    width: 420px; }
  .container .six.columns {
    width: 420px; }
  .container .seven.columns {
    width: 420px; }
  .container .eight.columns {
    width: 420px; }
  .container .nine.columns {
    width: 420px; }
  .container .ten.columns {
    width: 420px; }
  .container .eleven.columns {
    width: 420px; }
  .container .twelve.columns {
    width: 420px; }
  .container .thirteen.columns {
    width: 420px; }
  .container .fourteen.columns {
    width: 420px; }
  .container .fifteen.columns {
    width: 420px; }
  .container .sixteen.columns {
    width: 420px; }
  .container .one-third.column, .container .two-thirds.column {
    width: 420px; } }

.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix, .row {
  zoom: 1; }

.clearfix:before, .clearfix:after, .row:before, .row:after {
  content: "\0020";
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix:after, .row:after {
  clear: both; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.grid-raw {
  zoom: 1; }
  .grid-raw:before, .grid-raw:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; }
  .grid-raw:after {
    clear: both; }
  .grid-raw .columns.six {
    width: 50%;
    float: left; }

html {
  margin: 0;
  padding: 0;
  border: 0; }

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section {
  display: block; }

body {
  line-height: 1.5;
  background: white; }

table {
  border-collapse: separate;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  float: none !important; }

table, th, td {
  vertical-align: middle; }

blockquote before, blockquote after, q before, q after {
  content: ''; }

blockquote, q {
  quotes: "" ""; }

a img {
  border: none; }

b, i {
  display: none; }
