$fontLogo: 'Trocchi', cursive;
$fontHeader: 'Architects Daughter', cursive;
$fontCursiveInformal: 'Butterfly Kids', cursive;
$fontCursiveFormal: 'Rochester', cursive;
$fontHandwriting: 'Amatic SC', cursive;
$fontCopy: Helvetica, Arial, sans-serif;

$fontSizeLogo: 32px;
$fontSizeHeader: 53px;
$fontSizeSubHeader: 48px;
$fontSizeBody: 18px;

$padding: 20px;
$margin: 20px;

$colorWhite: #FFF;
$colorBlack: #000;
$colorOffWhite: #E6D27F;
$colorOffWhiteDark: darken($colorOffWhite, 30%);
$colorOffWhiteLight: lighten($colorOffWhite, 30%);
$colorAccent: #86A677;
$colorContrast1: #CC5539;
$colorContrast2: #634357;
$colorContrast3: #733230;